*{margin:0px auto;}
a {text-decoration:none;}
.container{position:fixed; background-color: ffffff;  justify-items: center; 
  width: 1920px; height:1080px;
}
.headerNav{position:relative;width:1920px;height:70px; 
  background-color: #b3d1f0;
} 
.headerNav .headerCategory{width:1271px; height:35px;
    display: flex;float: left;text-align: center;margin-top: 20px;font-weight: 700;font-size: 1.4em;}
.headerLogin{width: 180px; height: 52px; float: right;margin-top: 30px;font-weight: 700;font-size: 1.4em;}
.headerCategory .navbar{}