*{
  margin:0 auto; padding:0; box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;

}
/* 헤더 */
.header{
  background: #B3D1F0;
  padding: 15px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  
}
.logo{
  font-weight: 400;
  color: #333;
  font-size: 16px;
  font-style: italic;
}
.nav-menu{
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-menu a{
  text-decoration: none;
  color: #333;
  font-weight: 600; 
  transition: color 0.3s;
}
.nav-menu a:hover{
  margin-bottom: 5px;
}
.user-menu{
  font-weight:600;
  text-decoration: none;
  color: #333;

}
/* 멤버선택 모듈창 */
.Module-Container {
    border: 2px solid #B3D1F0;
    border-radius: 40px;
    margin-top: 119px;
    max-width: 1410px;
    max-height: 767px;
} 
.Module-Container h1 {
    width: 630px;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.MemberContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-height: 600px;
    overflow-y: auto;
    padding: 40px;
}
.MemberCard {
    border: 1px solid #cdcdce;;
    width: 218px;
    height: 260px;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 4px #cdcdce;
}
.MemberImg img {
    width: 177px;
    height: 193.51px;
}
.MemberContent {
    padding: 5px;
}
/* 응원메세지/ 퍼즐맞추기 페이지 */
.prevBtn{
  left:10px;
  cursor: pointer;
  display: block;
  align-items: center;
}
.prevBtn img{
  width: 40px;
  height: 40px;
}
.ContentTop .Content-Title{
    text-align: center;
}
.Content-Title h1 {
    font-size: 40px;
    word-spacing: 10px;
}
.Content-Title h3 {
    color: #415E96;
    font-size: 25px;
    font-weight: 400;
}
img {
    width: 30px;
    height: 30px;
}
.CommentContainer {
    width: 50%;
}
input#reply {
    width: 540px;
    height: 50px;
    border: 1px solid #B3D1F0;
    border-radius: 10px;
    text-align: center;
}
input::placeholder {
    color: #878A8C;
    font-size: 20px;
    font-weight: 500;
}
.CommentReply {
    padding: 20px;
    text-align: center;
    display: flex;
    width: 700px;
}
.SendImg {
    border: 1px solid #B3D1F0;
    border-radius: 10px;
}
.CommentReply img {
    width: 50px;
    height: 50px;
    text-align: center;
}
.CheerArtistContainer {
    display:flex;
    padding: 30px;
}
.CommentList {
    border: 1px solid #B3D1F0;
    border-radius: 40px;
    width: 882px;
    height: 561px;
    padding: 40px;
}
.CommentContents{
    padding: 10px;
}
.Userwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 0;
}
.UserImg { 
    width: 40px;
    height: 40px;
}
.UserImg img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.User_Nickname {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.Comment_date {
    font-size: 10px;
    color: #606060;
}
.UserInfo { 
    flex: 1;
}
.context{
    border: 1px solid #B3D1F0;
    width: 769px;
    height: 71px;
    border-radius: 40px ;
    padding: 20px;
}
.PuzzleContainer {
    border: 1px solid #878A8C;
    box-shadow: 0 4px 50px #878A8C;
    width: 30%;
    height: 655px;
    padding-top: 50px;
}
.puzzleImg {
    text-align: center;
}
.puzzleImg img {
    width: 80%;
    height: 471.59px;
    overflow: hidden;
}
.puzzleCongress {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
}
.puzzleCongress span {
    width: 257px;
    color: #00629F;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.Share {
    width: 30px;
    height: 60px;
    padding-top: 11px;
}
.Share img {
    width: 35px;
    height: 35px;
}
 
