*{
  margin:0 auto; padding:0; box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}
a {
  text-decoration: none;
  list-style: none;
  color: #333;
}
.Module-Container {
    border: 2px solid #B3D1F0;
    border-radius: 40px;
    margin-top: 119px;
    width: 1410px;
    height: 767px;
    max-width: 1410px;
    overflow-y: auto;
} 
.Module-Container h1 {
    width: 630px;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    padding: 20px;
}
.VoteContainer {
    width: 80%;
}
.VoteSelect {
    display: flex;
}
.radio-info {
    width: 120px;
    height: 80px;
    max-width: 70%;
    text-align: center;
}
.Unit {
    width: 80%;
    display: flex;
    gap: 16px;
}
input#choice {
    width: 30px;
    height: 30px;
}
.VoteSelect h3 {
    width: 120px;
    height: 40px;
}
.VoteCard {
    width: 218px;
    height: 260px;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 4px #cdcdce;
}
.VoteImg img {
    width: 177px;
    height: 193.51px;
}
.VoteContent {
    padding: 5px;
}

/* 투표완료시 안내창 */
.VoteBlock{
    text-align: center;
}
.NoMoreVote p{
    font-size: 40px;
    font-weight: bold;
}